* {
	font-family: 'sen', sans-serif;
	font-weight: 100;
}

.nav__responsive-ul {
	display: none;
}

.nav {
	background-color: #69c;
}

.nav__li {
	display: inline-block;
	padding: 9px;
	color: #fff
}
.nav__li:hover> a {
	color: #bbb
}

.nav__li:hover> {
	color: #bbb
}
.nav__li a {
	color: #fff;
	text-decoration: none;
}
.nav__li i {
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}

.nav__responsive-button-container {
	position: absolute;
	width: 100%;
	font-size: 25px;
	text-align: right;
	background-color: #69c;
	margin-top: -64px;
	z-index: 100;
	
}

.nav__responsive-button {
	padding: 6px 20px;
	width: 100%;
	
}
.me {
	width: 200px;
	height: 200px;
	object-fit: cover;
	padding: 10px;
	margin: 5px;
}

.parrafoquiensoy {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 23px;
	color: blue;
	justify-content: left;
	justify-items: left;
	padding: 10px;
	margin: 5px;

}
.parrafohabilidades {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 23px;
	color: blue;
	padding-top: 35px;
	margin: 10px;
	}
	
@media only screen and (max-width: 500px) {
.nav__ul {
	display: none;
	}

.nav {
	height: 37px;
	width: 100%;
	background-color: #69c;
    }
.nav__responsive-ul {
	display: block;
	position: absolute;
	background-color: #69c;
	width: 100%;
	margin-top: 37px;
	padding-top: 27px;
	height: 37px;
	
	
	}
.nav__li-container {
	position: relative;
		top: -1000px;
		height: 100vh;
		background-color: #9bf;
		transition: all 1s;
		z-index: 1;
		padding-top: 27px;
		
}

.nav__li-container:hover {
	transform: translateY(-1000px);
}
.nav__responsive-li {
	width: 100%;
	padding: 9px 20px;
	}

.nav__responsive-li i {
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
	width: 30px;
	color: #016;
}	

.nav__responsive-li a {
	color: #016;
	text-decoration: none;
}

.nav__responsive-ul:hover > .nav__li-container {
	top: -27px;
}
.nav__responsive-ul:hover > .nav__li-container {
display: inline-flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
}

.parrafoquiensoy p {
	font-size: 14px;
	font-family: arial, Helvetica, sans-serif;
	color: blue;
	font-style: bold;
	padding-top: 8px;
	padding-left: 5px;
	margin: 1px;
}

.me {
	width: 150px;
	height: 150px;
	margin: 2px;
	padding-top: 30px;
	padding-left: 5px;
	object-fit: cover;
}

.parrafohabilidades {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 10px;
	color: blue;
	padding-top: 35px;
	margin: 10px;
}